
<div style="display: flex;">

    <!-- <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>General</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Editar CV</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a routerLink="/informacion">Informaci&oacute;n Personal y de Contacto</a></li>
                        <li><a routerLink="/experiencia">Experiencias Laborales</a></li>
                        <li><a href="#">Estudios y/o Certificaciones</a></li>
                        <li><a href="#">Conocimientos o Habilidades</a></li>
    
                    

                          <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                          </li>

                    </ul>
                </li>
            </ul>
        </nav>
    </div> -->
<div>
    <ul class="acorh" >
        <li><a href="#">Editar CV</a>
            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" id="pills-tab" role="tablist">
                <li ><a class="nav-link" id="info-contact-tab" data-toggle="pill" href="#info-contact" role="tab" aria-controls="info-contact" aria-selected="false">Informaci&oacute;n Personal y de Contacto</a></li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="info-exp-tab" data-toggle="pill" href="#info-exp" role="tab" aria-controls="info-exp" aria-selected="false">Experiencias Laborales</a>
                </li>
                <li><a href="#">Estudios y/o Certificaciones</a></li>
                <li><a href="#">Conocimientos o Habilidades</a></li>
            </ul>
        </li>
    </ul>
</div>


<div class="tab-content div-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="info-contact" role="tabpanel" aria-labelledby="info-contact-tab">
        <app-informacion-personal></app-informacion-personal>
    </div>
    <div class="tab-pane fade" id="info-exp" role="tabpanel" aria-labelledby="info-exp-tab">
        <app-experiencia-laboral></app-experiencia-laboral>
    </div>
  </div>

</div>
